style.css

body {
	text-align: center;
	margin: 0;
}
h1 {
	font-family: Raleway;
	font-weight: 400;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 45px;
	margin: 0;
	text-align: center;
}
header {
	background-color: #F15B31;
	font: #FFFFFF;
	padding: 30px 20px 30px 20px;
}
nav {
	background-color: #00A6B3;
	font: #ffffff;
	padding: 20px;
	text-align: center;

}
main {
	width: 850px;
	margin: 35px auto;
}

p {
	font-family: Droid Serif;
	line-height: 26px;
	font-size: 18px;
}
h2 {
	font-family: Raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}
a {
	font-family: Raleway;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	font: #ffffff;
	text-align: center;
	border-bottom: 2px solid transparent;
}
img {
	margin: 40px 8px;
}
div {
	text-align: center;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	font: #F15B31;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
font-family: "Raleway";
float: left;
color: white;
}
.message {
font-family: "Raleway";
float: right;
color: white;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
} 
.name {
	color: white;
	font-weight: 700;
}
a:hover {
	border-color: white;
}